<div class="row">
    <div class="cols-xs-10">
        <app-shopedit></app-shopedit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item"
             style="cursor: pointer"
             *ngFor="let ingredient of ingredients; let i = index"
             (click)="onEditItem(i)">
            
             {{ ingredient.name }} ({{ingredient.amount}})

            </a> <!--Anchor Tag represents single item, you could outsource to individual component-->
        </ul>
    </div>
</div>